.video-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   margin-bottom: 40px;
    position: relative;
  }
  
  .video-thumbnail {
    flex: 0 0 150px;
    margin-right: 16px;
  }
  
  .video-thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .video-info {
    flex-grow: 1;
  }
  
  .video-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }
  
  .video-subtitle {
    font-size: 1em;
    color: #555;
    margin-bottom: 8px;
  }
  
  .video-description {
    font-size: 0.9em;
    color: #777;
  }
  
  .video-date {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 0.8em;
    color: #888;
  }
  @media(max-width:600px){
    .video-card{
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-left: 5%;
      margin-right: 10%;
    }
    .video-date{
margin-top: 190px;
color: black;
font-weight: 500;
    }
  }