.userHeaderContainer{
    height: 70px;
    background: linear-gradient(to right, #00FFFF, #007FFF);
    width: 100%;
    display: flex;
   border-bottom: 1px solid black;
}
.userHeaderContainer h3{
    color: black;
}
.userName{
    margin-left: 70%;
    margin-top: 20px;
    display: flex;
    position: absolute;
    
}
.userName img{
    height: 40px;
    width: 40px;
    margin-top: -5px;
    border-radius: 7px;
}
.naotesContainer{
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgb(47, 48, 48);
   
}
.naotesContainer h3{
    color: black;
}
.messContainer{
    color: black;
    border-bottom: 1px solid white;
}
.nav9{
    display: flex;
    justify-content: space-between;
    padding-right:10px ;
}
.booking{
   border-bottom: 1px solid rgb(254, 254, 254);
   display: flex;
   flex-direction: column;
}
.navIntro{
    border-bottom: 1px solid rgb(149, 146, 146);
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.introContainer{
    border-bottom: 1px solid rgb(130, 129, 129);
}
.userName h3{
    margin-left: 10px;
    margin-top: 0px;
}
.arrow{
    margin-left:20px;
    margin-top: 20px;
}
.userHeaderNav{
    height: 900px;
    width: 400px;
    background-color: aliceblue;
margin-left: 0%;
background-color: rgb(32, 30, 28);
position: relative;
}
.userHeaderNav h3{
    color: white;
    cursor: pointer;
   
}
.userHeaderNav h3:hover{
    color: rgb(121, 38, 223);
}
.navHome{
    text-align: center;
    margin-bottom: 20px;
}
.navMenu{
    margin-left: 10px;
    color: black;
}
.nav1,.nav2,.nav3,.nav4,.nav5,.nav6,.nav7,.nav8,.nav9,.nav10{
    border-bottom: 1px solid rgb(158, 153, 153);
   
    padding-top: 0px;
}
.nav1 :hover,.nav2 :hover,.nav3 :hover,.nav4 :hover,.nav5 :hover,.nav6 :hover,.nav7 :hover,.nav8 :hover,.nav9 :hover,.nav10 :hover,.nav11 :hover{
}
.nav4{
    display: flex;
    justify-content: space-between;
    padding-right:10px ;
}
.nav8{
    display: flex;
    justify-content: space-between;
    padding-right:10px ;
}
@media (max-width:432px){
    .userName{
        margin-top: 10px;
        margin-left: 50%;
    position: absolute;
    }
    .userHeaderContainer{
        height: 90px;
    }
    .userHeaderNav{
        margin-top: 90px;
        width: 100%;
    }
    

    
}