.userHeaderContainer{
    height: 70px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
   border-bottom: 1px solid black;
}
.userHeaderContainer h3{
    color: black;
}
.userName{
    margin-left: 70%;
    margin-top: 20px;
    position: fixed;
}
.arrow{
    margin-left:20px;
    margin-top: 20px;
}
.userHeaderNav{
    height: 900px;
    width: 400px;
    background-color: aliceblue;
margin-left: 0%;
background-color: rgb(32, 30, 28);
position: relative;
}
.userHeaderNav h3{
    color: white;
    cursor: pointer;
   
}
.userHeaderNav h3:hover{
    color: rgb(121, 38, 223);
}
.navHome{
    text-align: center;
    margin-bottom: 20px;
}
.navMenu{
    margin-left: 10px;
    color: black;
}
.nav1,.nav2,.nav3,.nav4,.nav5,.nav6,.nav7,.nav8,.nav9,.nav10{
    border-bottom: 1px solid rgb(158, 153, 153);
   
    padding-top: 0px;
}
.nav1 :hover,.nav2 :hover,.nav3 :hover,.nav4 :hover,.nav5 :hover,.nav6 :hover,.nav7 :hover,.nav8 :hover,.nav9 :hover,.nav10 :hover,.nav11 :hover{
    background: rgb(195, 195, 195);
}
@media (max-width:600px){
    .userName{
        margin-top: 50px;
        
    }
    .userHeaderContainer{
        height: 90px;
    }
    .userHeaderNav{
        margin-top: 90px;
    }
    

    
}